div,article,aside,main,header,nav,p,section,h3,body,html{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.articulo1{
        background-color: aqua;
    }
.articulo2{
        background-color: beige;
    }
.articulo3{
        background-color: cadetblue;
    }

li , a{
    list-style: none;
    text-decoration: none;
}


.header{
    width: 100%;
    height: 18vh;
    background-color: azure;
}

.seccionHeader{
    background-color: greenyellow;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionHeader h1{
    background-color: honeydew;
    width: 85%;
}
.contenidoMain{
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

.articulo , .articulo1div{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
}

.articulo{
    padding: 0px 25px;
}


.articulo img{
    max-width: 240px;
    height: 250px;
    min-width: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 45px;
}

.seccionNav{
    background-color: hotpink;
    height: 50%;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
}

ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

h3{
    background-color: azure;
    padding: 10px 20px;
    width: auto;
}

@media screen and (min-width:600px) and (max-width:900px){
    .seccionHeader{
        background-color:  blue;
    }

    .header{
        height: 15vh;
    }

    .header , .dosart{
        display: flex;
    }

    .seccionHeader , .seccionNav{
        height: auto;
    }


    ul{
        gap: 15px;
        flex-wrap: wrap;
        width: 120px;
    }

    .articulo{
        align-items: center;
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
    }

    .articulo1div{
        width: 100%;
        justify-content: center;
    }

    .articulo2, .articulo3{
        width: 50%;
    }

    .dosart{
        flex-grow: 1;
    }

    .contenidoMain{
        height: 100%;
    }

    .articulo img{
        margin-right: 0%;
    }
}