div,article,aside,main,header,nav,p,section,h3,body,html{
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 0;
    padding: 0;
    position: relative;
    box-sizing: border-box;
}

.contenedor_pagina{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-size: 18px;
}
.articulo1{
        background-color: aqua;
    }
.articulo2{
        background-color: beige;
    }
.articulo3{
        background-color: cadetblue;
    }

li {
    list-style: none;
}

a{
    color: black;
}


.header{
    width: 100%;
    background-color: azure;
}

.seccionHeader{
    background-color: greenyellow;
    text-align: center;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccionHeader h1{
    background-color: honeydew;
    width: 85%;
}
.contenidoMain{
    background-color: burlywood;
}

.articulo{
    display: flex;
    align-items: flex-start;
    gap: 25px;
    width: 100%;
    padding: 0px 25px;
}

.articulo img{
    max-width: 260px;
    height: 250px;
    min-width: 100px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 20px;
}

.seccionNav{
    background-color: hotpink;
    height: 50%;
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    width: 100%;
    justify-content: center;
}

ul{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding: 0;
}

h3{
    background-color: azure;
    padding: 10px 20px;
    text-align: center;
}

@media (min-width:600px) {

    .articulo{
        flex-direction: column;
    }
    .contenidoMain{
        display: flex;
        flex-grow: 1;
    }

    
}
@media screen and (min-width:600px) and (max-width:900px){
    .seccionHeader{
        background-color:  blue;
    }

    .header{
        display: flex;
        height: 15vh;
    }

    .seccionHeader , .seccionNav{
        height: auto;
    }

    ul{
        gap: 15px;
        flex-wrap: wrap;
        width: 130px;
    }

    .articulo{
        align-items: center;
        flex-direction: column;
        height: auto;
        padding: 0px;
    }

    .articulo1div{
        width: 100%;
        justify-content: center;
    }

    .articulo2, .articulo3{
        width: 50%;
    }


    .contenidoMain{
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        
    }

    .articulo img{
        margin-right: 0%;
    }

    .articulo1 h3{
        width: 300px;
    }
    .articulo2 h3 , .articulo3 h3{
        width: 100%;
    }


}


@media (min-width:900px)  {

    .header{
        height: 18vh;
    }

    .seccionHeader{
        background-color: palevioletred;
    }

    h3{
        width: 100%;
    }

    .articulo{
        width: 33.33%;
        padding: 0;
        align-items: center;
    }

    .articulo img{
        margin: 0
    }
    
}